---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <div class="nav-sec">
  <h2>Social Network Profile</h2>

  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/" title="About the boilerplate">Profile</a></li>
    </ul>
  </nav>
  </div>

  <div class="image">
      <p>This is where the image would go</p>
  </div>

  <div class="name-tag">
  <div class="profile-pic">
  </div>
  <h3>David Rocendo</h3>
  <div class="link-social">
  <a href="https://github.com/rocendod/c4-profile" class="github">GitHub</a>
  <a href="https://www.linkedin.com/in/david-rocendo-bb9105197?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BD6glZCBSQ4yNB0nmZWW3WQ%3D%3D" class="linkedin">LinkedIn</a>
  </div>
  </div>

  <div class="cards">
  <div class="stack">
    <h1>My Posts</h1>

  <div class="card-1">
    <div class="image-card">
      <p>Image of card will go inside placeholder</p>
    </div>

    <div class="comment-sec">
      <div class="c-profile">
      </div>
      <div class="comment">
        <p>This is where a comment from a user would go!</p>
      </div>
    </div>
  </div>

  <div class="card-2">
    <div class="image-card">
      <p>Image of card will go inside placeholder</p>
    </div>
    <div class="comment-sec">
      <div class="c-profile">
      </div>
      <div class="comment">
        <p>This is where a comment from a user would go!</p>
      </div>
    </div>
  </div>
  </div>

  <div class="intro">
    <p class="intro-text"><b>Introduction:</b> Hey there! 👋 I'm David, a passionate UX designer based in East Lansing. With a keen eye for detail and a love for creating seamless user experiences, I'm here to connect, learn, and collaborate with fellow designers and enthusiasts. Let's dive into the world of UX together! And don'r forget to say Hi. #UXDesign #UserExperience</p>
  </div>

  </div>

</body>
</html>